

/* H1 */

  h1{
    font-size: 4.5rem;  
  }

/* H2 */
h2 {
  font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color:#E6146F;


  h2{
    font-family: 'Roboto', sans-serif;
     font-size: 4rem;
  }
}
/* H3 */
h3 {
    font-size: 1.5rem;
   
}

  h3{
    font-size: 2rem;
  }
  p {
    font-size: 1.4rem;
  

  @media (min-width: $tablet-width) {
    font-size: 2rem;
 }
}

/* TITLES */
h1, h2, h3, h4, h5, h6, label, input, p, a {
  font-family: 'Raleway';
  margin: 1rem;
}